# Map historical author strings to the canonical identity.
Mohamed Abdelkarim <mohaabdelkarim2@gmail.com> MOHAbdelkarim <mohaabdelkarim2@gmail.com>
mohabdelkarim <mohaabdelkarim2@gmail.com> MOHAbdelkarim <mohaabdelkarim2@gmail.com>
